# Set binding values
COMMENTO_ORIGIN=https://{{ SITE_URL }}
COMMENTO_PORT=8080
COMMENTO_BIND_ADDRESS=127.0.0.1

# Set CDN settings
COMMENTO_CDN_PREFIX=https://{{ SITE_URL }}

# I'm the only user of commento here, so no new owners are allowed
COMMENTO_FORBID_NEW_OWNERS=false

# Enable GZIP compression (why not)
COMMENTO_GZIP_STATIC=true

# Set the SMTP credentials
COMMENTO_SMTP_HOST=smtp.gmail.com
COMMENTO_SMTP_PORT=587
COMMENTO_SMTP_USERNAME={{ GMAIL_ADDRESS }}
COMMENTO_SMTP_PASSWORD='{{ GMAIL_PASSWORD }}'
COMMENTO_SMTP_FROM_ADDRESS={{ GMAIL_ADDRESS }}

# Set PostgreSQL settings
COMMENTO_POSTGRES=postgres://commento:{{ DB_PASSWORD }}@127.0.0.1:5432/commento?sslmode=disable

# Set Akismet credentials
COMMENTO_AKISMET_KEY={{ AKISMET_KEY }}
